<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>User info</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/userInfo.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<header>
		<div class="tableDetailsHeader">
			<h2>User info listed here</h2>
		</div>
	</header>
	<section id="userInfo" ng-app="userInfo" ng-controller="userInfoController" ng-init="error=false">
		<h3 ng-if="error"> <span class="error">Error while fetching data... Please try again.</span></span></h3>
		<table id="userInfoTable" ng-if="!error">
			<thead>
				<th>Sl</th>
				<th title="click to sort" ng-click="sortInfo('id')" class="poiner">User id <i ng-show="properyName == 'id'" class="fa fa-angle-double-{{type}}"></i></th>
				<th title="click to sort" ng-click="sortInfo('title')" class="poiner">title <i ng-show="properyName == 'title'" class="fa fa-angle-double-{{type}}"></i></th>
				<th title="click to sort" ng-click="sortInfo('body')" class="poiner">Details <i ng-show="properyName == 'body'" class="fa fa-angle-double-{{type}}"></i></th>
			</thead>
			<tbody>
				<tr ng-repeat="user in userInfo | orderBy: properyName : reverse">
					<td>{{$index}}</td>
					<td>{{user.id}}</td>
					<td>{{user.title}}</td>
					<td>{{user.body}}</td>
				</tr>
			</tbody>
		</table>
		
	</section>
	<footer>
		
	</footer>
<!-- scripts -->
<script type="text/javascript" src="js/app.js"></script>
<script type="text/javascript" src="js/constants/constants.js"></script>
<script type="text/javascript" src="js/factory/userInfoService.js"></script>
<script type="text/javascript" src="js/userInfo.js"></script>
<!-- scripts -->
</body>
</html>